body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; 
  margin: 0;
  padding: 0;
}

#root {
  max-width: 800px; 
  margin: 0 auto;
  padding: 40px;
}

.user-details {
  background-color: #f0f0f5; 
  padding: 30px; 
  border-radius: 10px; 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); 
}

.user-details h2 {
  color: #4b0082; 
  font-size: 32px;
  margin-bottom: 30px; 
}

.user-details table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-details table td {
  padding: 14px; /* Increased padding */
  border-bottom: 1px solid #a9a9a9; /* Light gray */
}

.user-details table td:first-child {
  font-weight: bold;
}

.user-details button {
  background-color: #800080; /* Purple */
  color: #fff;
  padding: 14px 24px; /* Increased padding */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px; /* Increased font size */
}

.user-details p {
  color: #4CAF50; /* Green */
  font-style: italic;
  margin-top: 20px; /* Increased margin top */
}
